#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
}

h1 {
  text-align: center;
}

button {
  will-change: filter;
  transition: filter 300ms;
}
button:focus-visible {
  filter: drop-shadow(0 0 1em #646cffaa);
}
