.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10pt;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.35)
  );
}

.topBar button {
  position: fixed;
  right: 1em;
}

.connIndicator {
  margin-left: 0.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingContainer button {
  margin-top: 0.5em;
}
