.plotPointList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 850px;
}

.plotPoint {
  margin: 0.25em;
}

.plotChoice {
  font-weight: bold;
  color: #b1b5ff;
}
