.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: left;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.item {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 300px;
}

.item button {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.item button img {
  margin-top: 1em;
  height: 150px;
}
